/* PAGINA PRINCIPAL  */
html{
    height: 100%;
    width: 100%;
}
body, #mainpage-body, #profile-body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%; 
    height: 100%;
}
sub{
    font-size: 50%;
}
header, footer{
    background-color: #87afeb;
    width: 100%;
}
header{
    margin: 0 0 0 0;
    height: 9%;
}
nav {   
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
nav > div {
    color:white;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#nav2{
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}
#main-user{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
#text{  padding: 0px 3px 0px 3px ; }

#whiteboard{
    /* border: 2px dotted purple; */
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin: 3% 10% 3% 10%;
}
#whiteboard>div{
    margin-bottom: 2%;
}
#noMatch{
    color: #87afeb;
}

.profile{
    background-color: #f5f5f5;
    box-shadow: 2px 2px 0px 0px #c7cbcc;
    display: flex;
    justify-content: center;        
    flex-wrap: wrap;
}
.profile>span{
    text-align: center;
}
.profile:hover{
    transform: scale(1.1) rotate(10deg);
    background-color: #a0c3d7;
    transition: background-color 0.5s ease, transform 0.5s ease-in-out;
    cursor:pointer;
}
.profile:not(:hover){
    transform: scale(1) rotate(0deg);
    background-color: #f5f5f5;
    transition: background-color 0.5s ease, transform 0.5s ease-in-out;
}
footer{
    height: 13%;
    /* margin-top: 20%; */
    position: fixed;
    bottom: 0;
}
footer span{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (min-width: 1201px){
    /* body{   background-color: red ; } */
    
    nav > div {     font-size: /*20px;*/   1.25em;  }
    #nav1{      font-size: /*30px;*/  2.5em;   }    
    #text{      font-size: /*19px;*/ 0.9em;  width: 200px; }
    #Buscar{    font-size: /*23px;*/ 1em;   }
    #whiteboard{    row-gap: 15%;   column-gap: 3%;  }
    #mi-imagen{ background-image: url("./28304720/28304720Grande.jpg");  background-size:contain ;  }
    .profile{       height: 130px;  width: 130px; }
    .profile > span {       font-size: 1em;     }
    .image{     width: 72px;    height: 90px;   margin-top: 10%;    }
    footer > span{      font-size: 1em;     }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    /* body{   background-color: blue ;    } */
    nav > div {     font-size: /*20px;*/   1.07em;  }
    #nav1{      font-size: /*30px;*/  2.13em;   }    
    #text{      font-size: /*19px;*/ 0.77em;   width: 170.69px; }
    #Buscar{    font-size: /*23px;*/ 0.85em;   }
    #whiteboard{    row-gap: 15%;   column-gap: 3%;  }
    #mi-imagen{ background-image: url("./28304720/28304720Grande.jpg");  background-size:contain ;  }
    .profile{       height: 110px;  width: 110px; }
    .profile > span {       font-size: 0.875em;         }
    .image{     width: 60.92px;    height: 76.15px;   margin-top: 10%;    }
    footer > span{      font-size: 0.85em;     }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* body{   background-color: yellow ;  } */
    nav > div {     font-size: /*20px;*/   0.8em;  }
    #nav1{      font-size: /*30px;*/  1.6em;   }    
    #text{      font-size: /*19px;*/ 0.58em;   width: 128.05px;}
    #Buscar{    font-size: /*23px;*/ 0.64em;   }
    #whiteboard{    row-gap: 15%;   column-gap: 3%;  }
    #mi-imagen{ background-image: url("./28304720/28304720Grande.jpg");  background-size:contain ;  }
    .profile{       height: 90px;  width: 90px; }
    .profile > span {       font-size: 0.625em;         }
    .image{     width: 49.85px;    height: 62.31px;   margin-top: 10%;    }
    footer > span{      font-size: 0.64em;     }
    
    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* body{   background-color: gray ;    } */

    nav > div {     font-size: /*20px;*/   0.5em;  }
    #nav1{      font-size: /*30px;*/  1em;   }    
    #text{      font-size: /*19px;*/ 0.36em;   width: 80.1px;}
    #Buscar{    font-size: /*23px;*/ 0.4em;   }
    #whiteboard{    row-gap: 15%;   column-gap: 3%;  }
    #mi-imagen{ background-image: url("./28304720/28304720Pequena.jpg");  background-size:contain ;  }
    .profile{       height: 70px;  width: 70px; }
    .profile > span {       font-size: 0.5em;         }
    .image{     width: 38.77px;    height: 48.46px;   margin-top: 10%;    }
    footer > span{      font-size: 0.4em;     }
    
    
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    /* body{   background-color: black ;   } */
    
    nav > div {     font-size: /*20px;*/   0.33em;  }
    #nav1{      font-size: /*30px;*/  0.67em;   }    
    #text{      font-size: /*19px;*/ 0.24em;  width: 53.29px; }
    #Buscar{    font-size: /*23px;*/ 0.27em;   }
    #whiteboard{    row-gap: 15%;   column-gap: 3%;  }
    #mi-imagen{ background-image: url("./28304720/28304720Pequena.jpg");  background-size:contain ;  }
    .profile{       height: 50px;  width: 50px; }
    .profile > span {       font-size: 0.38em;         }
    .image{     width: 27.69px;    height: 34.62px;   margin-top: 10%;    }
    footer > span{      font-size: 0.27em;     }
    
}

@media screen and (max-width: 319px) {
    /* body{   background-color: limegreen ;   } */
    
    nav > div {     font-size: /*20px;*/   0.2em;  }
    #nav1{      font-size: /*30px;*/  0.47em;   }    
    #text{      font-size: /*19px;*/ 0.10em;  width: 30px; }
    #Buscar{    font-size: /*23px;*/ 0.14em;   height: 10px; width: 3px; font-size: 0.14em;}
    #whiteboard{    row-gap: 15%;   column-gap: 3%;  }
    #mi-imagen{ background-image: url("./28304720/28304720Pequena.jpg");  background-size:contain ;  }
    .profile{       height: 50px;  width: 50px; }
    .profile > span {       font-size: 0.38em;         }
    .image{     width: 27.69px;    height: 34.62px;   margin-top: 10%;    }
    footer > span{      font-size: 0.27em;     }

}


/* PÁGINA PERFIL   */
#atras{
    margin-left: 7%;
}
#atras-anchor{
    color:orangered;
    text-decoration: none;
}

#profile-body{
    margin-top:1%;
    height: 100%;
}

#info-container{
    display: flex;
    flex-flow: row wrap;
    margin-top:1%;
    height: 100%;
}

#mi-foto{
    height: 65.3%;
    max-width: 25%;
    /* margin-top : 8px; */
    margin-left: 8%;
    border-top-left-radius: 28.25% 28.25%;
}
#info{
    border-style:solid;
    border-width: 2px;
    width : 60%;
    height: 64.8%;
    padding: 0px 6px 0px 6px ;
    box-shadow: 3px 3px 0px 1px gray;
    max-height: 70%;
}
#nombre{
    color:red;
    font-weight: bolder;
}
#descripcion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:static;
    font-style: italic;
}

#mail{
    color:orange;
}
#mail:visited{
    color:red;
}

@media screen and (min-width: 1201px){
    #nombre{    font-size:400%; }
    .profile-p, .profile-span{  font-size: 100%;    }
    #atras{font-size: 32px;}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #nombre{    font-size:300%; }
    .profile-p, .profile-span{  font-size: 90%; }
    #atras{font-size: 28px;}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #nombre{    font-size:200%; }
    .profile-p, .profile-span{  font-size: 75%; }
    #atras{font-size: 24px;}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #nombre{    font-size:150%; }
    .profile-p, .profile-span{  font-size: 50%; }
    #atras{font-size: 16px;}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    #nombre{    font-size:95%;  }
    .profile-p, .profile-span{  font-size: 1%;  }    
    #atras{font-size: 12px;}
}
@media screen and (max-width: 319px) {
    #nombre{    font-size:95%;  }
    .profile-p, .profile-span{  font-size: 0.01%;   }
    #atras{font-size: 8px;}
}